* {
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0px 0px;
  background: rgb(33 33 33);
  background-size: cover;
  /* font-family:'Sofadi One' , sans-serif; */
}

.body {
  background-image: none;
}

/* .App-header{
  height: 500px;
} */
.heading {
  padding: 5px 0px;
  color: #c63333;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Fascinate Inline', cursive;
  background-color: #1c1c1c;
}

.box {
  border: none;
  padding: 2px 2px;
  margin: 5px 0px;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: 1px solid rgb(92 92 92);
  /* color: rgb(0, 0, 0); */
  border-radius: 10px;
}

.username {
  background-color: #505050;
  font-size: 9px;
  color: #ffffff;
  border-radius: 5px 21px 0px 5px;
  padding: 0px 10px;
  font-family: Sofadi One, cursive;
}

.message {
  font-family: 'Exo 2', cursive;
  font-size: 14px;
  padding: 0px 10px;
  text-align: left;
}

.chatarea {
  max-height: 80vh;
  overflow-y: scroll;
  width: 100%;
  padding-left: 4px;
  color: white;
  /* background-image: linear-gradient(90deg, rgba(30, 30, 30, 0.75), rgba(24, 24, 24, 0.75)), url("../static/images/thunder.jpeg"); */
  background-image: linear-gradient(90deg, rgba(30, 30, 30, 0.75), rgba(24, 24, 24, 0.75)), url("../static/images/met1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Custom scrollbar styles */
.chatarea::-webkit-scrollbar {
  width: 20px; /* Width of the scrollbar */
}

.chatarea::-webkit-scrollbar-track {
  background: #5f5f5f; /* Background of the scrollbar track */
}

.chatarea::-webkit-scrollbar-thumb {
  background: #333333; /* Color of the scrollbar thumb */
  width: 10px;
  border-radius: 8px;

}

.chatarea::-webkit-scrollbar-thumb:hover {
  background: #222222; /* Color of the scrollbar thumb on hover */
}



.form {
  position: sticky;
  height: 65px;
  bottom: 3px;
  /* border-top: solid #d0d0d0 1px; */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  /* max-width: 400px; */
}

.form input {
  width: 250px;
  border: 1px solid gray;
  background-color: transparent;
  color: rgb(229, 229, 229);
  padding-left: 5px;
}

.form input:focus {
  outline: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
}

.butt {
  height: 40px;
  width: 40px;
  font-size: large;
  background-color: #b9b9b9;
  border: none;
  border-radius: 50px;
}

.usernameinput {
  height: 13px;
  width: 100px;
  font-size: 10px;
}

.massageinput {
  height: 30px;
  margin-bottom: 5px;
}

.modebutton {
  /* height: 30px;
  width: 30px; */
  border: none;
  margin-right: 10px;
  margin-top: 5px;
  float: right;
  border-radius: 15px;
  font-size: 38px;
  color: rgb(96, 96, 96);
  background-color: transparent;
}

.instaicon img {
  width: 40px;
  height: 40px;
}

.instaicon p {
  font-size: small;
}

.instaicon,
a {
  /* position: sticky; */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;

}

.landing_page {
  background-image: linear-gradient(90deg, rgb(0 0 0 / 75%), rgb(158 0 0 / 75%)), url("../static/images/met3.jpg");
  /* background:rgb(32 32 32); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.lan_p{
  font-family: 'Sofadi One';
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: larger;
  /* text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff, -1px -1px 0 #ffffff; */
}

.login_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login_signup button {
  width: 100px;
  height: 35px;
  color: rgb(249, 193, 64);
  font-weight: 700;
  font-family: 'Exo 2';
  border-radius: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

/* .instadiv{
  position: sticky;
  bottom: 400px;
  float: right;
  display: flex;
  align-items: center;
  flex-direction: column;
} */
.signpage,
.loginpage {
  background-image: linear-gradient(90deg, rgb(0 0 0 / 75%), rgb(158 0 0 / 75%)), url("../static/images/met2.jpg");
  /* background: rgb(32 32 32); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 44rem; */
}

.signcard,
.logincard {
  color: white;
  width: 80%;
  max-width: 350px;
  height: 409px;
  /* border: 1px solid rgb(190, 190, 190); */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(0px);
}

.formm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
} */
input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid gray;
}
.authinputs{
  color: white;
  width: 240px;
  background-color: transparent;
  border: 1px solid white;
}

.labeltext {
  font-size: 20px;
  color: #ff4c4c;
}

.submit {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffca00;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.submit:hover {
  background-color: rgb(52, 52, 52);
}

.spann {
  display: flex;
  align-items: baseline;
}

.logout_button {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(93 157 224);
  color: white;
  font-family: 'Sofadi One';
}

.loader {
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.landing_head {
  font-size: 60px;
  font-weight: 900;
  font-family: 'Fascinate Inline', sans-serif;
  background: linear-gradient(to right, #bd9100, #ebeb13, #ffe502);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.loadingtext {
  text-align: center;
  color: rgb(106, 0, 255);
}

.loadingtext {
  margin-left: 33%;
  border: 16px solid #f3f3f3;

  border-top: 16px solid #212121;

  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.facelogo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.back_arrows{
  padding-left: 50px;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.49);
  background-color: transparent;
  border: none;
  font-family: 'Sofadi One' ;
  animation: fadeinout 3s infinite;
}
  @keyframes fadeinout {
            0%, 100% { opacity: 0;margin-left: 10px; }
            50% { opacity: 1;margin-left:0px; }      
  }
.back_arrow_div{
  width: 100%;
}